.complete {
    background-color: #be8d49;
    height: 100vh;
    margin: 0px;
    text-align: center;
    align-items: center;
}

.msg {

    h1 {
        font-family: Yeseva One;
        color: white;
        font-size: 100px;
        margin: 0px;
    }

    h2 {
        font-family: Yeseva One;
        color: white;
        font-size: 30px;
        margin-top: 50px;
    }

    button {
        background-color: rgba(0, 0, 0, .0);
        border: 2px solid white;
        box-shadow: none;
        color: white;
        font-size: 32px;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        padding: 5px 10px;
        width: auto;
        margin-top: 50px;
    }
}
