body{
    background-color: #ffffff;
    margin: 0px;
    font-size: 18px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 120px;
    background: #be8d49;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    .main__alert {
        position:  fixed;
        top: 300px;
        left: 290px;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        color: #be8d49;
        background-color: white;
        width: 60%;
        height: 130px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
        

        .alert__text {
            margin: 20px 0px 40px 0px;
        }

        .alertbtn {
        background-color: rgba(0, 0, 0, .0);
        border: 2px solid #be8d49;
        box-shadow: none;
        font-size: 16px;
        width: 160px;
        padding: 0px;
        margin: 0px 0px;
        text-decoration: none;
        color: #be8d49;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        font-weight: lighter;
        
    

    button:hover {
        background: rgba($color: #be8d49, $alpha: .2);
    }
        }
    }

    .main__error {
        position:  fixed;
        top: 300px;
        left: 290px;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        color: #be8d49;
        background-color: white;
        width: 60%;
        height: 130px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
        

        .error__text {
            margin: 20px 0px 40px 0px;
        }

        .errorbtn {
        background-color: rgba(0, 0, 0, .0);
        border: 2px solid #be8d49;
        box-shadow: none;
        font-size: 16px;
        width: 160px;
        padding: 0px;
        margin: 0px 0px;
        text-decoration: none;
        color: #be8d49;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        font-weight: lighter;
        
    

    button:hover {
        background: rgba($color: #be8d49, $alpha: .2);
    }
        }
    }

    .main__title{
        font-family: Yeseva One;
        color: white;
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .form__add {
        margin: 0px auto;
        align-items: center;
        width: 50%;

        .form__type + .type__input {
            display: block;
        }

        .form__type {
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            color:white;
            
        }

        .type__input {
            border-color: white;
            color: #f0e3d0;
            background-color: rgba(0, 0, 0, .0);
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            font-size: 16px;
            border: solid 2px;
            margin-bottom: 10px;
            margin-top: 5px;
        }

        .form__name {
            display: block;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            color: white;
        }

        input {
            border-color: white;
            background-color: rgba(0, 0, 0, 0);
            height: 40px;
            border-radius: 5px;
            color: white;
            border: solid 2px;
            box-sizing: border-box;
            font-size: 18px;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            margin-top: 5px;
        }

        .form__addname {
            display: block;
            width: 100%;
            
        }

        ::placeholder {
            color: #eed8b8;
            font-size: 16px;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
        }

        .form__title {
            display: block;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            color: white;
            margin: 10px 0px;
            
            .form_checkbox + .sabores__all {
                display: block;
                margin: 5px;
                padding-top: 0.2;
            }
            .form_checkbox {
               display: none;
            }

            .form_checkbox + .sabores__all::before {
               content: "\2714";
               border:2px solid white;
               border-radius: 0.2em;
               display: inline-block;
               width: 1em;
               height: 1em;
               padding-left: 0.2em;
               padding-bottom: 0.3em;
               margin-right: 5px;
               color: transparent;
               transition: .2s;
            }

            .form_checkbox + .sabores__all:active::before {
                transform: scale(0);
            }

            .form_checkbox:checked + .sabores__all::before {
                background-color: white;
                color: #be8d49;
                
            }

            .form__description {
                display: block;
                width: 100%;
                height: 40px;
                background: none;
                border:2px solid white;
                border-radius: 5px;
                box-sizing: border-box;
                color: white;
                font-size: 16px;
                font-family: 'Work Sans', sans-serif;
                font-weight: lighter;
                margin-bottom: 10px;
                margin-top: 5px;
            }

            
                

                .uploadpic {
                    font-size: 14px;
                    font-weight: 600;
                    color: #be8d49;
                    background-color: white;
                    display: block;
                    transition: all .5s;
                    cursor: pointer;
                    padding: 15px 40px !important;
                    text-transform: uppercase;
                    width: fit-content;
                    text-align: center;
                    margin: 5px 0px 60px 0px;
                    border-radius: 5px;
                    
                    .form__pic {
                        
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;
                    }
                }

                .form__images {
                    display: flex;
                    margin: 10px 0px;
                }

                .loadedImg {
                    width: 100px;
                    height: auto;
                    display: block;
                }
            

        }
        
    }
    .form__btn {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        align-content: center;
        justify-content: center;
        

        .btn__submit {
            width: 100%;
            height: 45px;
            color: #be8d49;
            background-color: white;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            border-radius: 5px;
            font-size: 18px;
            border: none

        }
        
    }
    
}





//----- RESPONSIVEEEEEE -----------------


@media screen and (max-width: 600px) {

    body {
        font-size: 16px;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }

        .navegation{
            .navegation_menub {

                .user {
                    height: 60%;
                }
            }
           
            
        }

        .main__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin-top: 70px;
            background: #be8d49;
            border-radius: 30px 30px 0px 0px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

            .main__alert {
                position:  fixed;
                top: 300px;
                left: 78px;
                font-family: 'Work Sans', sans-serif;
                font-weight: lighter;
                color: #be8d49;
                background-color: white;
                width: 60%;
                height: 130px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
                

                p {
                    margin: 20px 0px 40px 0px;
                }

                .alertbtn {
                background-color: rgba(0, 0, 0, .0);
                border: 2px solid #be8d49;
                box-shadow: none;
                font-size: 16px;
                width: 160px;
                padding: 0px;
                margin: 0px 0px;
                text-decoration: none;
                color: #be8d49;
                font-family: 'Work Sans', sans-serif;
                font-style: italic;
                font-weight: lighter;
                
            

            button:hover {
                background: rgba($color: #be8d49, $alpha: .2);
            }
                }
            }

            .main__error {
                position:  fixed;
                top: 300px;
                left: 78px;
                font-family: 'Work Sans', sans-serif;
                font-weight: lighter;
                color: #be8d49;
                background-color: white;
                width: 60%;
                height: 130px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
                

                .error__text {
                    margin: 20px 0px 40px 0px;
                }

                .errorbtn {
                background-color: rgba(0, 0, 0, .0);
                border: 2px solid #be8d49;
                box-shadow: none;
                font-size: 16px;
                width: 160px;
                padding: 0px;
                margin: 0px 0px;
                text-decoration: none;
                color: #be8d49;
                font-family: 'Work Sans', sans-serif;
                font-style: italic;
                font-weight: lighter;
                
            

            button:hover {
                background: rgba($color: #be8d49, $alpha: .2);
            }
                }
            }

            .main__title{
                font-family: Yeseva One;
                color: white;
                width: 100%;
                font-size: 30px;
                text-align: center;
                margin-top: 20px;
                    

            }

            .form__add {
                margin: 0px 16px;
                width: auto;

                .form__type + .type__input {
                    display: block;
                }

                .form__type {
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                    color:white;
                    
                }

                .type__input {
                    border-color: white;
                    color: #f0e3d0;
                    background-color: rgba(0, 0, 0, .0);
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                    height: 45px;
                    width: 100%;
                    border-radius: 5px;
                    font-size: 16px;
                    border: solid 2px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                }

                .form__name {
                    display: block;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                    color: white;
                }

                input {
                    border-color: white;
                    background-color: rgba(0, 0, 0, 0);
                    height: 40px;
                    border-radius: 5px;
                    color: white;
                    border: solid 2px;
                    box-sizing: border-box;
                    font-size: 18px;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                    margin-top: 5px;
                }

                .form__addname {
                    display: block;
                    width: 100%;
                    
                }

                ::placeholder {
                    color: #eed8b8;
                    font-size: 16px;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                }

                .form__title {
                    display: block;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                    color: white;
                    margin: 10px 0px;
                    
                    .form_checkbox + .sabores__all {
                        display: block;
                        margin: 5px;
                        padding-top: 0.2;
                    }
                    .form_checkbox {
                       display: none;
                    }

                    .form_checkbox + .sabores__all::before {
                       content: "\2714";
                       border:2px solid white;
                       border-radius: 0.2em;
                       display: inline-block;
                       width: 1em;
                       height: 1em;
                       padding-left: 0.2em;
                       padding-bottom: 0.3em;
                       margin-right: 5px;
                       color: transparent;
                       transition: .2s;
                    }

                    .form_checkbox + .sabores__all:active::before {
                        transform: scale(0);
                    }

                    .form_checkbox:checked + .sabores__all::before {
                        background-color: white;
                        color: #be8d49;
                        
                    }

                    .form__description {
                        display: block;
                        width: 100%;
                        height: 40px;
                        background: none;
                        border:2px solid white;
                        border-radius: 5px;
                        box-sizing: border-box;
                        color: white;
                        font-size: 16px;
                        font-family: 'Work Sans', sans-serif;
                        font-weight: lighter;
                        margin-bottom: 10px;
                        margin-top: 5px;
                    }

                    
                        

                        .uploadpic {
                            font-size: 14px;
                            font-weight: 600;
                            color: #be8d49;
                            background-color: white;
                            display: block;
                            transition: all .5s;
                            cursor: pointer;
                            padding: 15px 40px !important;
                            text-transform: uppercase;
                            width: fit-content;
                            text-align: center;
                            margin: 5px 0px 100px 0px;
                            border-radius: 5px;
                            
                            .form__pic {
                                
                                width: 0.1px;
                                height: 0.1px;
                                opacity: 0;
                                overflow: hidden;
                                position: absolute;
                                z-index: -1;
                            }
                        }

                        .form__images {
                            display: flex;
                        }

                        .loadedImg {
                            width: 100px;
                            display: block;
                        }
                    

                }
            }

            .form__btn {
                display: flex;
                position: fixed;
                z-index: 98;
                width: 100%;
                top: 660px;
                left: 0px;
                margin: 0px;
                align-content: center;
                background: white;
                padding: 16px 16px 16px 16px;
                box-sizing: border-box;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
                justify-content: center;
                

                .btn__submit {
                    width: 100%;
                    height: 45px;
                    color: white;
                    background-color: #be8d49;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: lighter;
                    border-radius: 5px;
                    font-size: 18px;
                    border: solid #be8d49 2px;

                }
                
            }
        }
}