@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');


body {
    background-color: #ffffff;
    margin: 0px;
    font-size: 18px;
    //overflow-x: hidden;
}

    .container {
        width: 100%;
        margin: 0 auto;
    }
    
        //------------NAVEGATION--------------------
        
        .navegation {
            display: flex;
            flex-direction: row;
            position: fixed;
            font-family: 'Work Sans', sans-serif;
            color: #be8d49;
            margin: 0px auto;
            background-color: #ffffff;
            font-weight: lighter;
            height: 104px;
            width: 100%;
            top: 0px;
            z-index: 100;
            justify-content: space-between;
            align-items: center;
        
            .navegation__logo {
                width: 85px;
                height: 68px;
                margin-left: 93px;
            }
        
            .navegation__menub {
                display: none;
            }
        
            .navigation__links {
                display: flex;
                flex-direction: row;
        
                .navegation__menu{
                    margin-left: 40px;
                    margin-right: 40px;
                }
            }
        
            .navigation__search {
                display: flex;
                flex-direction: row;
                
        
                input {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: #be8d49;
                    color: #be8d49;
                    
                }
            
                ::placeholder {
                    color: #f0e3d0;
                    font-size: 18px;
                    font-family: 'Work Sans', sans-serif;
                }
        
                button {
                    background-color: white;
                    border: none;
                    box-shadow: none;
                    
                    img {
                        width: 20px;
                    }
                    
                }
        
        
            }
        
            .navigation__networks {
                
            }
        
            .navegation__wa {
                width: 30px;
                height: 30px;
                
            }
        
            .navegation__ig {
                width: 30px;
                height: 30px;
                margin-left: 30px;
                margin-right: 93px;
              
        
        
            }
        }
        
//------------------BANNER--------------------------        
        
        .main__banner {
            width: 100%;
            height: 700px;
            background-repeat: no-repeat !important;
            background-size: cover;
            display: flex;
            flex-direction: column;

            .banner__text {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-left: 93px;


                h1 {
                    margin-top: 150px;
                    //margin-left: 93px;
                    margin-bottom: 40px;
                    font-family: Yeseva One;
                    color: white;
                    font-size: 79px;
                    width: 70%;
                }
            
                button {
                    background-color: rgba(0, 0, 0, .0);
                    border: 2px solid white;
                    box-shadow: none;
                    color: white;
                    font-size: 32px;
                    font-family: 'Work Sans', sans-serif;
                    font-style: italic;
                    padding: 5px 10px;
                    //margin-left: 93px;
                    width: 550px;
                }
            }
        
        
                
            }
            
//---------------------MOST SELL------------------------

        .main__seller {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            


            h2 {
                margin-top: -40px;
                margin-bottom: 20px;
                font-size: 57px;
                color: #be8d49;
                background-color: white;
                padding-left: 20px;
                box-sizing: border-box;
                width: 470px;
            }

            .seller__ourMenuBtn {
                background-color: rgba(0, 0, 0, .0);
                border: 2px solid #be8d49;
                box-shadow: none;
                color: #be8d49;
                font-size: 32px;
                font-family: 'Work Sans', sans-serif;
                font-style: italic;
                padding: 5px 15px 5px 10px;
                width: 285px;
            }
        
            .products-row {
                display: flex;
                flex-direction: row;
                width: auto;
                height: 203px;
                margin: 50px 93px;
                align-items: center;
                justify-content: space-between;

                .products-row__column {
                    width: 272px;
                    height: 174px;
                    background-size: cover;
                    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
                    
    
                    &--main {
                        width: 317px;
                        height: 203px;
                        background-size: cover;
                        margin: 0px 80px;
                    }
                }
            
                .column__product {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    color: #be8d49;
                    background-color: rgba(0, 0, 0, .7);
                    
                    &--gold {
                        background-color: #d9ac55;
                        color: black
                    }
                    img {
                        width: 274px;
                    }
                
                    .product__title {
                        font-size: 20px;
                        font-family: Yeseva One;
                        box-sizing: border-box;
                        margin: 4px 0px 0px 0px;
    
                        &--choco {
                            font-size: 25px;
                        }
                    }
            
                    .product__sub {
                        font-size: 15px;
                        font-family: 'Work Sans', sans-serif;
                        font-weight: lighter;
                        width: 200px;
                        margin-top: 1px;
                        margin-bottom: 4px;
    
                        &--size {
                            width: 208px;
                        }
                    }
                }
    
                .column__footer {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(255,255,255,.0));
                    margin: 80px 0px 0px 0px;
                    padding: 10px;
                    box-sizing: border-box;
    
                    img {
                        width: 99px;
                        height: 17px;
                    }
    
                    &--margin {
                        margin-top: 98px;
                    }
    
                    .product__price {
                        font-size: 20px;
                        font-weight: inherit;
                        font-family: 'Work Sans', sans-serif;
                        color: white;
                        right: 10px;
                        bottom: 10px;
                        margin: 0px;
                        padding: 0px;
    
                        &--size {
                            font-size: 25px;
                        }
                    }
                }
            }
        
            
        }

        //----------------We Love Dessert-----------------
        
        .main__loveDesert{
            width: 100%;
            height: 600px;
            background-repeat: no-repeat !important;
            background-size: cover;
            display: flex;
            flex-direction: column;
    
    
    
            h2 {
                margin-top: 60px;
                margin-left: 93px;
                margin-bottom: 0px;
                font-size: 57px;
                color: #be8d49;
                padding-left: 20px;
                box-sizing: border-box;
                width: 470px;
                z-index: 1;
             }
    
             .loveDesert__text {
                 display: flex;
                 flex-direction: column;
                 width: 50%;
                 height: 100%;
                 margin-top: -124px;
                 background-color: rgba(0, 0, 0, .4);
                 backdrop-filter: blur(5px);
                 align-items: center;
    
                 p {
                    font-weight: lighter;
                    font-family: 'Work Sans', sans-serif;
                     color: white;
                     margin-top: 250px;
                     width: 70%;
    
                     .bold {
                        color: #d9ac55;
                     }
                 }
    
                .text__btn {
                    background-color: rgba(0, 0, 0, .0);
                    border: 2px solid white;
                    box-shadow: none;
                    color: white;
                    font-family: 'Work Sans', sans-serif;
                    font-style: italic;
                    margin-top: 20px;
                    //margin-left: 300px;
                    padding: 5px;
                    width: 110px;
                 }  
             }
        }

        //--------------------Taste and Quality------------------------
    
        .main__tasteQuality{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 700px;
            align-items: flex-end;
            background-repeat: no-repeat !important;
            background-size: 50%;
            background-position-y: 50%;
            background-position-x: 93px;
            
    
            h2 {
                margin-top: -40px;
                margin-bottom: 20px;
                margin-right: 93px;
                font-size: 57px;
                color: #be8d49;
                background-color: white;
                padding-left: 20px;
                padding-right: 20px;
                box-sizing: border-box;
                width: 420px;
                z-index: 2;
                
            }

            p {
                font-weight: lighter;
                    font-family: 'Work Sans', sans-serif;
                     color: #be8d49;
                     margin-top: 150px;
                     margin-right: 93px;
                     width: 400px;
                     text-align: right;
                     
            }

            .tasteQuality__Two{
                width: 30%;
                height: 100%;
                background-repeat: no-repeat !important;
                background-size: 100%;
                background-position-y: 100%;
                
                
            }
            
         }

         //-----------------Customize----------------------

         .main__customize {
            width: 100%;
            height: 600px;
            background-repeat: no-repeat !important;
            background-size:50%;
            display: flex;
            flex-direction: column;
            background-position-x: right;

            h2 {
                margin-top: -40px;
                margin-bottom: 20px;
                margin-left: 92px;
                font-size: 57px;
                color: #be8d49;
                background-color: white;
                padding-left: 20px;
                box-sizing: border-box;
                width: 320px;
                z-index: 2;
            }

            .customize__text {
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 100%;
                margin-top: -46px;
                background-color: #be8d49;
                text-align: center;
                align-items: center;
   
                p {
                   font-weight: lighter;
                   font-family: 'Work Sans', sans-serif;
                    color: white;
                    margin-top: 250px;
                    width: 70%;
                    text-align: left;
                }

                img {
                    width: 100px;
                    height: 100px;
                    
                    
                }
         }
    }

.main__experience {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat !important;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
        margin-top: -40px;
        margin-bottom: 20px;
        margin-right: 92px;
        font-size: 57px;
        color: #be8d49;
        background-color: white;
        padding-left: 20px;
        box-sizing: border-box;
        width: 490px;
        z-index: 2;
    }

    .experience__content {
        width: 50%;
        margin:auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-weight: lighter;
            font-family: 'Work Sans', sans-serif;
            color: #be8d49;
            width: 70%;
            text-align: right;
        }

        h3 {
            font-weight:inherit;
            font-family: 'Work Sans', sans-serif;
            color: #be8d49;
            width: 70%;
            text-align: center;
        }

        .content__radiobtn {
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            color: #be8d49;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 0px;

            .radiobtn__one {
                margin-top: 30px;
            }
        }

        .content__btn{
            background-color: rgba(0, 0, 0, .0);
            border: 2px solid #be8d49;
            box-shadow: none;
            color: #be8d49;
            font-family: 'Work Sans', sans-serif;
            font-style: italic;
            padding: 5px 10px;
            width: 234px;
            margin-top: 40px;
        }
      

    }

   
}

.main__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: 20%;
    background-repeat: no-repeat !important;
    text-align: center;
    background-position-x: 50%;
    background-position-y: 65%;

    h2 {
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 93px;
        font-size: 57px;
        color: #be8d49;
        width: 417px;
    }

    .info__table {
        width: auto;
        margin: 27px 93px;

        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #be8d49;
            color: #be8d49;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            text-align: center;
            

            thead th:nth-child(1) {
                width: 50%;
              }
              
              thead th:nth-child(2) {
                width: 20%;
              }
              
              thead th:nth-child(3) {
                width: 10%;
              }
              
              thead th:nth-child(4) {
                width: 20%;
              }

              th, td {
                padding: 10px;
              }

               thead td, tbody td {
                border: 1px solid #be8d49;
              }

              ul {
                list-style-type:none  
              }
        }

        p {
            text-align:end;
            color: #be8d49;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
        }
    }

}

.main__newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#be8d49;

    h2 {
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 93px;
        font-size: 40px;
        color: white;
        width: 617px;
    }

    .newsletter__inputs {
        width: auto;
        margin: 27px auto;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        align-items: center;
        
        .inputs__first {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 10px;

            .newsletter__name {
                width: 50%;
                margin-right: 20px;
            }

            .newsletter__lastname {
                width: 50%;
            
            }

            label {
                margin-top: 11px;
                margin-right: 10px;
            }
        }

        .inputs__email {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 10px;

            .newsletter__email {
                width: 75%;
            }

            label {
                margin-top: 11px;
                margin-right: 10px;
            }
        }



        input {
            border-color: white;
            background-color: rgba(0, 0, 0, .0);
            height: 40px;
            border-radius: 5px;
            color: white;
            border: solid 2px;
            font-size: 18px;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
        }

        ::placeholder {
            color: #eed8b8;
            font-size: 18px;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
        }

        select {
            border-color: white;
            color: #f0e3d0;
            background-color: rgba(0, 0, 0, .0);
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            height: 45px;
            border-radius: 5px;
            font-size: 18px;
            border: solid 2px;
        }

        .inputs__agree {
            margin-top: 20px;
            
        }

        .agree__btn {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            border-radius: 50%;
            width: 16px;
            height: 16px;

            border: 1px solid white;
            transition: 0.2s all linear;
            margin-right: 5px;

            position: relative;
            top: 3px;

            &:checked {
                border: 6px solid white;
            }
        }

        .inputs__btn {
            width: 100%;
            height: 45px;
            color: #be8d49;
            background-color: white;
            font-family: 'Work Sans', sans-serif;
            font-weight: lighter;
            border-radius: 5px;
            font-size: 18px;
            border: solid white 2px;
            margin-top: 20px;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #e6e6e6;

    img {
        width: 180px;
        height: 140px;
        margin-top: 68px;
        margin-bottom: 68px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #be8d49;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 15px;
        width: auto;
        margin-bottom: 68px;

        p {
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }
}

        
        
   
    
   



//----------------RESPONSIVE---------------------

@media screen and (max-width: 414px) {
    .container {
        width: 100%;

        .navegation {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .navegation__logo {
                width: 85px;
                height: 68px;
            }

            .navegation__menub {
                width: 35px;
                height: 35px;
            }
            
            .navigation__links {
                display: none;
            }

            .navigation__networks{
                display: none;
            }

            

            .navigation__search {
                width: 100%;

                input {
                    display: none;
                }

                button {
                    padding: 0px;

                    img {
                        width: 30px;
                        margin-right: 0px;
                        padding: 0px;
                    }
                }
            }
        }

        .main__banner {
            width: 100%;
            height: 700px;
            background-repeat: no-repeat !important;
            background-size: cover;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 37px;
                margin-left: 40px;
                margin-bottom: 120px;
            }

            
        }
    }

}

