@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');


body {
    background-color: #ffffff;
    margin: 0px;
    font-size: 18px;

    .container {
        width: 100%;
        margin: 0 auto;
    }
   
}

.navegation {
    display: flex;
    flex-direction: row;
    position: fixed;
    font-family: 'Work Sans', sans-serif;
    color: #be8d49;
    margin: 0px auto;
    background-color: #ffffff;
    font-weight: lighter;
    height: 104px;
    width: 100%;
    top: 0px;
    z-index: 100;
    justify-content: flex-start;
    align-items: center;

    .navegation__logo {
        position: absolute;
        width: 85px;
        height: 68px;
        left: 93px;
        top: 10px;
    }

    .navigation__links {
        display: flex;
        flex-direction: row;
       margin-left: 200px;

        p {
            margin-left: 50px;
        }
    }

    .navigation__search {
        display: flex;
        flex-direction: row;
        margin-left: 200px;

        input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: #be8d49;
            color: #be8d49;
            
        }
    
        ::placeholder {
            color: #f0e3d0;
            font-size: 18px;
            font-family: 'Work Sans', sans-serif;
        }

        button {
            background-color: white;
            border: none;
            box-shadow: none;
            
        }


    }


    

    .navigation__networks {
        position: absolute;
        right: 93px;
    }

    .navegation__wa {
        width: 30px;
        height: 30px;
        
    }

    .navegation__ig {
        width: 30px;
        height: 30px;
        margin-left: 30px;
      


    }
}

.main__banner {
    margin-top: 104px;
    margin-left: 0px ;
    margin-right: 0px;;
    width: 100%;
    height: 40%;

   /*.banner__first {  
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        height: 40%;
    }*/

    h1 {
        position: absolute;
        top: 48px;
        left: 93px;
        font-family: Yeseva One;
        color: white;
        font-size: 76px;
    }

    button {
        position: absolute;
        background-color: rgba(0, 0, 0, .0);
        border-color: white;
        box-shadow: none;
        top: 480px;
        left: 93px;
        color: white;
        font-size: 32px;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        padding: 5px 10px;
       

    }

        
    }
    

.main__seller {
    position: relative;

    h2 {
        position: absolute;
        margin-top: -40px;
        top: 0px;
        left: 70px;
        font-size: 57px;
        color: #be8d49;
        background-color: white;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }

    .products-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .products-row__column {
        margin-left: 93px;
        margin-top: 118px;
    }

    .product {
        position: relative;
        
        img {
            position: absolute;
            width: 274px;
        }
       


        .product__title {
            position: absolute;
            font-size: 20px;
            font-family: Yeseva One;
            background-color: rgba(0, 0, 0, .7);
            padding-top: 5px;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 37px;
            box-sizing: border-box;
            color: #be8d49;
            margin: 0px;
        }

        .product__sub {
            position: absolute;
            font-size: 15px;
            font-family: 'Work Sans', sans-serif;
            color: #be8d49;
            top: 20px;
            left: 40px;
            font-weight: lighter;
            width: 200px;
        }
    }
}

@media screen and (max-width: 414px) {
    .container {
        width: 100%;

        .navegation {
            width: 100%;

            .navegation__logo {
                position: absolute;
                width: 85px;
                height: 68px;
                left: 207px;
                top: 10px;
            }
            
            .navigation__links {
                display: none;
            }

            .navigation__networks{
                display: none;
            }

            

            .navigation__search {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                margin-right: 45px;

                input {
                    display: none;
                }

                button {
                    width: 20%;

                    img {
                        width: 60%;
                    }
                }
            }
        }
    }

    
} 







