@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");
body {
  background-color: #ffffff;
  margin: 0px;
  font-size: 18px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  font-family: 'Work Sans', sans-serif;
  color: #be8d49;
  margin: 0px auto;
  background-color: #ffffff;
  font-weight: lighter;
  height: 104px;
  width: 100%;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navegation .navigation__menua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegation .navigation__menua .menua__logo {
  width: 85px;
  height: 68px;
  margin-left: 93px;
}

.navegation .navigation__menua .menua__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navegation .navigation__menua .menua__links .links__menu {
  margin-left: 40px;
  margin-right: 40px;
}

.navegation .navigation__menua .menua__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navegation .navigation__menua .menua__search input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #be8d49;
  color: #be8d49;
}

.navegation .navigation__menua .menua__search ::-webkit-input-placeholder {
  color: #f0e3d0;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.navegation .navigation__menua .menua__search :-ms-input-placeholder {
  color: #f0e3d0;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.navegation .navigation__menua .menua__search ::-ms-input-placeholder {
  color: #f0e3d0;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.navegation .navigation__menua .menua__search ::placeholder {
  color: #f0e3d0;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.navegation .navigation__menua .menua__search button {
  background-color: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navegation .navigation__menua .menua__search button img {
  width: 20px;
}

.navegation .navigation__menua .menu__networks .networks__wa {
  width: 30px;
  height: 30px;
}

.navegation .navigation__menua .menu__networks .networks__ig {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-right: 93px;
}

.navegation .navegation__menub {
  display: none;
}

.main__banner {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat !important;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__banner .banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-left: 93px;
}

.main__banner .banner__text h1 {
  margin-top: 150px;
  margin-bottom: 40px;
  font-family: Yeseva One;
  color: white;
  font-size: 79px;
  width: 70%;
}

.main__banner .banner__text button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  padding: 5px 10px;
  width: 550px;
}

.main__seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__seller h2 {
  margin-top: -40px;
  margin-bottom: 20px;
  font-size: 57px;
  color: #be8d49;
  background-color: white;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 470px;
}

.main__seller .seller__ourMenuBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #be8d49;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #be8d49;
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  padding: 5px 15px 5px 10px;
  width: 285px;
}

.main__seller .products-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: 203px;
  margin: 50px 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__seller .products-row .products-row__column {
  width: 272px;
  height: 174px;
  background-size: cover;
  -webkit-box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.4);
}

.main__seller .products-row .products-row__column--main {
  width: 317px;
  height: 203px;
  background-size: cover;
  margin: 0px 80px;
}

.main__seller .products-row .column__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #be8d49;
  background-color: rgba(0, 0, 0, 0.7);
}

.main__seller .products-row .column__product--gold {
  background-color: #d9ac55;
  color: black;
}

.main__seller .products-row .column__product img {
  width: 274px;
}

.main__seller .products-row .column__product .product__title {
  font-size: 20px;
  font-family: Yeseva One;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4px 0px 0px 0px;
}

.main__seller .products-row .column__product .product__title--choco {
  font-size: 25px;
}

.main__seller .products-row .column__product .product__sub {
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  width: 200px;
  margin-top: 1px;
  margin-bottom: 4px;
}

.main__seller .products-row .column__product .product__sub--size {
  width: 208px;
}

.main__seller .products-row .column__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
  margin: 80px 0px 0px 0px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__seller .products-row .column__footer img {
  width: 99px;
  height: 17px;
}

.main__seller .products-row .column__footer--margin {
  margin-top: 98px;
}

.main__seller .products-row .column__footer .product__price {
  font-size: 20px;
  font-weight: inherit;
  font-family: 'Work Sans', sans-serif;
  color: white;
  right: 10px;
  bottom: 10px;
  margin: 0px;
  padding: 0px;
}

.main__seller .products-row .column__footer .product__price--size {
  font-size: 25px;
}

.main__loveDesert {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat !important;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__loveDesert h2 {
  margin-top: 60px;
  margin-left: 93px;
  margin-bottom: 0px;
  font-size: 57px;
  color: #be8d49;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 470px;
  z-index: 1;
}

.main__loveDesert .loveDesert__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: -124px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__loveDesert .loveDesert__text p {
  font-weight: lighter;
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin-top: 250px;
  width: 70%;
}

.main__loveDesert .loveDesert__text p .bold {
  color: #d9ac55;
}

.main__loveDesert .loveDesert__text .text__btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  margin-top: 20px;
  padding: 5px;
  width: 110px;
}

.main__tasteQuality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 700px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat !important;
  background-size: 50%;
  background-position-y: 50%;
  background-position-x: 93px;
}

.main__tasteQuality h2 {
  margin-top: -40px;
  margin-bottom: 20px;
  margin-right: 93px;
  font-size: 57px;
  color: #be8d49;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 420px;
  z-index: 2;
}

.main__tasteQuality p {
  font-weight: lighter;
  font-family: 'Work Sans', sans-serif;
  color: #be8d49;
  margin-top: 150px;
  margin-right: 93px;
  width: 400px;
  text-align: right;
}

.main__tasteQuality .tasteQuality__Two {
  width: 30%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: 100%;
  background-position-y: 100%;
}

.main__customize {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat !important;
  background-size: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position-x: right;
}

.main__customize h2 {
  margin-top: -40px;
  margin-bottom: 20px;
  margin-left: 92px;
  font-size: 57px;
  color: #be8d49;
  background-color: white;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  z-index: 2;
}

.main__customize .customize__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: -46px;
  background-color: #be8d49;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__customize .customize__text p {
  font-weight: lighter;
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin-top: 250px;
  width: 70%;
  text-align: left;
}

.main__customize .customize__text img {
  width: 100px;
  height: 100px;
}

.main__experience {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat !important;
  background-size: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__experience h2 {
  margin-top: -40px;
  margin-bottom: 20px;
  margin-right: 92px;
  font-size: 57px;
  color: #be8d49;
  background-color: white;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 490px;
  z-index: 2;
}

.main__experience .experience__content {
  width: 50%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__experience .experience__content p {
  font-weight: lighter;
  font-family: 'Work Sans', sans-serif;
  color: #be8d49;
  width: 70%;
  text-align: right;
}

.main__experience .experience__content h3 {
  font-weight: inherit;
  font-family: 'Work Sans', sans-serif;
  color: #be8d49;
  width: 70%;
  text-align: center;
}

.main__experience .experience__content .content__radiobtn {
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  color: #be8d49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0px;
}

.main__experience .experience__content .content__radiobtn .radiobtn__one {
  margin-top: 30px;
}

.main__experience .experience__content .content__btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #be8d49;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #be8d49;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  padding: 5px 10px;
  width: 234px;
  margin-top: 40px;
}

.main__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: 20%;
  background-repeat: no-repeat !important;
  text-align: center;
  background-position-x: 50%;
  background-position-y: 65%;
}

.main__info h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 93px;
  font-size: 57px;
  color: #be8d49;
  width: 417px;
}

.main__info .info__table {
  width: auto;
  margin: 27px 93px;
}

.main__info .info__table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #be8d49;
  color: #be8d49;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  text-align: center;
}

.main__info .info__table table thead th:nth-child(1) {
  width: 50%;
}

.main__info .info__table table thead th:nth-child(2) {
  width: 20%;
}

.main__info .info__table table thead th:nth-child(3) {
  width: 10%;
}

.main__info .info__table table thead th:nth-child(4) {
  width: 20%;
}

.main__info .info__table table th, .main__info .info__table table td {
  padding: 10px;
}

.main__info .info__table table thead td, .main__info .info__table table tbody td {
  border: 1px solid #be8d49;
}

.main__info .info__table table ul {
  list-style-type: none;
}

.main__info .info__table p {
  text-align: end;
  color: #be8d49;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

.main__newsletter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #be8d49;
}

.main__newsletter h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 93px;
  font-size: 40px;
  color: white;
  width: 617px;
}

.main__newsletter .newsletter__inputs {
  width: auto;
  margin: 27px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__newsletter .newsletter__inputs .inputs__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.main__newsletter .newsletter__inputs .inputs__first .newsletter__name {
  width: 50%;
  margin-right: 20px;
}

.main__newsletter .newsletter__inputs .inputs__first .newsletter__lastname {
  width: 50%;
}

.main__newsletter .newsletter__inputs .inputs__first label {
  margin-top: 11px;
  margin-right: 10px;
}

.main__newsletter .newsletter__inputs .inputs__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.main__newsletter .newsletter__inputs .inputs__email .newsletter__email {
  width: 75%;
}

.main__newsletter .newsletter__inputs .inputs__email label {
  margin-top: 11px;
  margin-right: 10px;
}

.main__newsletter .newsletter__inputs input {
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  border-radius: 5px;
  color: white;
  border: solid 2px;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

.main__newsletter .newsletter__inputs ::-webkit-input-placeholder {
  color: #eed8b8;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

.main__newsletter .newsletter__inputs :-ms-input-placeholder {
  color: #eed8b8;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

.main__newsletter .newsletter__inputs ::-ms-input-placeholder {
  color: #eed8b8;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

.main__newsletter .newsletter__inputs ::placeholder {
  color: #eed8b8;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

.main__newsletter .newsletter__inputs select {
  border-color: white;
  color: #f0e3d0;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  border: solid 2px;
}

.main__newsletter .newsletter__inputs .inputs__agree {
  margin-top: 20px;
}

.main__newsletter .newsletter__inputs .agree__btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.main__newsletter .newsletter__inputs .agree__btn:checked {
  border: 6px solid white;
}

.main__newsletter .newsletter__inputs .inputs__btn {
  width: 100%;
  height: 45px;
  color: #be8d49;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  border-radius: 5px;
  font-size: 18px;
  border: solid white 2px;
  margin-top: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
}

.footer img {
  width: 180px;
  height: 140px;
  margin-top: 68px;
  margin-bottom: 68px;
}

.footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #be8d49;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  width: auto;
  margin-bottom: 68px;
}

.footer section p {
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 100%;
  }
  .container .navegation {
    /*width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    margin: 0px auto;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    z-index: 100;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .navegation .navigation__menua {
    display: none;
  }
  .container .navegation .navegation__menub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70%;
    margin: 0px 40px;
  }
  .container .navegation .navegation__menub .menub__hamburguer {
    height: 60%;
  }
  .container .navegation .navegation__menub .menub__logo {
    height: 110%;
  }
  .container .navegation .navegation__menub .menub__search {
    height: 60%;
  }
  .container .main__banner {
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .main__banner h1 {
    font-size: 37px;
    margin-left: 40px;
    margin-bottom: 120px;
  }
  .container .main__banner button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: white;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    width: 250px;
  }
  .container .main__seller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main__seller h2 {
    margin-top: -40px;
    margin-bottom: 20px;
    font-size: 37px;
    color: #be8d49;
    background-color: white;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 470px;
  }
  .container .main__seller .seller__ourMenuBtn {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #be8d49;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #be8d49;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    padding: 5px 15px 5px 10px;
    width: 285px;
  }
  .container .main__seller .products-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=index.css.map */